data/
*.pdf
*.pt
*.json
*.txt
*.csv
*.jsonl

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz

logs_moe/
checkpoints_moe/
tags/
prod_imgs/
.DS_Store/

qrcode.jpg
products.json
products.xlsx
标签打印文档.docx
.DS_Store
